[submodule "lib/arduino-lmic"]
	path = lib/arduino-lmic
	url = https://github.com/marcobrianza/arduino-lmic.git
[submodule "lib/Adafruit_SSD1306"]
	path = lib/Adafruit_SSD1306
	url = https://github.com/marcobrianza/Adafruit_SSD1306
[submodule "lib/ClickButton"]
	path = lib/ClickButton
	url = https://github.com/marcobrianza/ClickButton
